<form class="row g-3" action="/team/editTeamSave" method="POST">
    <div class="container">
        <h1>Edit Team</h1>
        {{#each teamData}}

        <div class="col-md-8 divcenter">
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="text" class="form-control" name="name" value="{{this.name}}" required>

        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-warning btncss" id="btnCreateTeam">Edit Team</button>
        </div>

        {{/each}}
    </div>
</form>