{{#if tournamentData}}
<h1>{{tournamentData.name}}</h1>


    <a href="/tournament/addTeamtoTournament/{{tournamentData.id}}"> <button>Add Team</button></a>
    <a href="/tournament/checkTournamentGroup/{{tournamentData.id}}"> <button>Group</button></a>
    <a href=""> <button>Playoffs</button></a>


{{/if}}
