<body>
    <form class="row g-3" action="/tournament/createTournamentSave" method="POST">
        <div class="container">
            <div class="col-md-8" style="text-align: center;margin: auto; width: 50%;">
                <label class="form-label">Tournament Name</label>
                <input type="text" class="form-control" name="name" id="name" style="text-align: center;" required>
            </div>
        </div> <br>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 1th</label>
            <input type="number" class="form-control prizeinput" name="prize1" id="prize1">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label ">Prize 2nd</label>
            <input type="number" class="form-control prizeinput" name="prize2" id="prize2">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 3rd</label>
            <input type="number" class="form-control prizeinput" name="prize3" id="prize3">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 4th</label>
            <input type="number" class="form-control prizeinput" name="prize4" id="prize4">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 5th</label>
            <input type="number" class="form-control prizeinput" name="prize5" id="prize5">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 6th</label>
            <input type="number" class="form-control prizeinput" name="prize6" id="prize6">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 7th</label>
            <input type="number" class="form-control prizeinput" name="prize7" id="prize7">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 8th</label>
            <input type="number" class="form-control prizeinput" name="prize8" id="prize8">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 9th</label>
            <input type="number" class="form-control prizeinput" name="prize9" id="prize9">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 10th</label>
            <input type="number" class="form-control prizeinput" name="prize10" id="prize10">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 11th</label>
            <input type="number" class="form-control prizeinput" name="prize11" id="prize11">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 12th</label>
            <input type="number" class="form-control prizeinput" name="prize12" id="prize12">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 13th</label>
            <input type="number" class="form-control prizeinput" name="prize13" id="prize13">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 14th</label>
            <input type="number" class="form-control prizeinput" name="prize14" id="prize14">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 15th</label>
            <input type="number" class="form-control prizeinput" name="prize15" id="prize15">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 16th</label>
            <input type="number" class="form-control prizeinput" name="prize16" id="prize16">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 17th</label>
            <input type="number" class="form-control prizeinput" name="prize17" id="prize17">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 18th</label>
            <input type="number" class="form-control prizeinput" name="prize18" id="prize18">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 19th</label>
            <input type="number" class="form-control prizeinput" name="prize19" id="prize19">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 20th</label>
            <input type="number" class="form-control prizeinput" name="prize20" id="prize20">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 21th</label>
            <input type="number" class="form-control prizeinput" name="prize21" id="prize21">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 22th</label>
            <input type="number" class="form-control prizeinput" name="prize22" id="prize22">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 23th</label>
            <input type="number" class="form-control prizeinput" name="prize23" id="prize23">
        </div>
        <div class="col-md-2 prizeinput">
            <label class="form-label">Prize 24th</label>
            <input type="number" class="form-control prizeinput" name="prize24" id="prize24">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-warning btncss">Create Tournament</button>
        </div>
    </form>
</body>